<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>java20170423</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>T1Servlet</display-name>
    <servlet-name>T1Servlet</servlet-name>
    <servlet-class>com.easy公司名.servlet.T1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T1Servlet</servlet-name>
    <url-pattern>/T1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>T2Servlet</display-name>
    <servlet-name>T2Servlet</servlet-name>
    <servlet-class>com.easy.servlet.T2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T2Servlet</servlet-name>
    <url-pattern>/T2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>T3Servlet</display-name>
    <servlet-name>T3Servlet</servlet-name>
    <servlet-class>com.easy.servlet.T3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T3Servlet</servlet-name>
    <url-pattern>/T3Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.easy.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>com.easy.servlet.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.easy.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>